{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "syntax": "scss",
  "rules": {
    "block-no-empty": null,
    "declaration-colon-newline-after": null,
    "declaration-empty-line-before": null,
    "property-no-unknown": [true, {
      "ignoreProperties": [
        "user-drag"
      ]
    }],
    "value-list-max-empty-lines": null,
    "value-list-comma-newline-after": null,
    "selector-list-comma-newline-after": null,
    "no-descending-specificity": null,
    "declaration-block-semicolon-newline-after": null,
    "rule-empty-line-before": null,
    "value-keyword-case": null
  }
}
